In [ ]:
import pandas as pd
import sqlite3 

connection = sqlite3.connect("BBDD_gatget.db")

cursor_gestion = connection.cursor()

# PROVEEDORES

"id" (Primary key)
"nombre" (Nombre)
"direccion" (Direccion)
"ciudad" (Ciudad)
"provincia"(Provincia)

In [ ]:
query_create = """
CREATE TABLE Proveedores(
    id INT PRIMARY KEY,
    nombre VARCHAR (100) NOT NULL,
    direccion VARCHAR(255),
    ciudad VARCHAR (100),
    provincia VARCHAR(100)
);
"""

cursor_gestion.execute(query_create)

# PIEZAS

"id"(Primary key)
"nombre"(Nombre)
"color"(Color)
"precio"(Precio)
"categoria_id"(Foreign Key a CATEGORIAS)

In [ ]:
query_create = """
CREATE TABLE Piezas (
    id INT PRIMARY KEY,
    nombre VARCHAR(100) NOT NULL,
    color VARCHAR(50),
    precio DECIMAL(10, 2),
    categoria_id INT,
    FOREIGN KEY (categoria_id) REFERENCES Categorías(id)
);
"""
cursor_gestion.execute(query_create)

# CATEGORIAS

"id" (Primary KEY)
"nombre"(Nombre)

In [ ]:
query_create = """
CREATE TABLE Categorías (
    id INT PRIMARY KEY,
    nombre VARCHAR(100) NOT NULL
);
"""
cursor_gestion.execute(query_create)

# SUMINISTROS

"id" (Primary Key)
"proveedor_id"(FOREIGN KEY a PROVEEDORES)
"pieza_id"(FOREIGN KEY a PIEZAS)
"fecha" (Fecha de suministro)
"cantidad"(Cantidad suministrada)

In [ ]:
query_create = """
CREATE TABLE Suministros (
    id INT PRIMARY KEY,
    proveedores_id INT,
    pieza_id INT,
    fecha DATE,
    cantidad INT,
    FOREIGN KEY (proveedores_id) REFERENCES Proveedores(id),
    FOREIGN KEY (pieza_id) REFERENCES Piezas(id)
);
"""

cursor_gestion.execute(query_create)

- Un proveedor puede suministrar múltiples piezas en diferentes fechas (one to many entre Proveedores y Suministros).
Una pieza puede ser suministrada por múltiples proveedores en diferentes fechas (one to many entre Piezas y Suministros).
Una pieza pertenece a una categoría (one to one entre Categorías y Piezas).

In [ ]:
query= '''
INSERT INTO 
Proveedores (id, nombre, direccion, ciudad, provincia) 
VALUES (1, 'Proveedor A', 'Calle 123', 'Ciudad A', 'Provincia A');
'''
cursor_gestion.execute(query)

In [ ]:
query = '''
SELECT *
FROM Proveedores
'''
cursor_gestion.execute(query)

In [ ]:


cursor_gestion.execute(query)
pd.read_sql(query, connection)